@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-display: swap;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input {
  font-family: "Exo2", "Arial", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  position: fixed;
  background-color: #ffffff;
}
.main-header a {
  transition: all 0.6s ease-in-out;
}
.main-header a:hover {
  opacity: 0.6;
}
.main-header .navbar {
  padding: 20px 0;
  background: none;
}
.main-header .navbar-nav {
  margin: 0 auto;
}
.main-header .main-header__sign-in {
  border: none;
  font-weight: bold;
  margin-right: 10px;
}
.main-header .main-header__login {
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0065FF;
  padding: 10px 20px;
  transition: all 0.6s ease-in-out;
}
.main-header .main-header__login:hover {
  color: #0065FF;
  background-color: #ffffff;
}
.site-section {
  padding: 120px 0;
}
.site-section h2 {
  font-size: 40px;
  font-weight: bold;
}
.site-section p {
  font-size: 18px;
}
.site-section__main-content {
  padding-bottom: 100px;
}
.section-heading {
  margin-bottom: 50px;
}
.background-light {
  background-color: #f8f9fa;
}
.intro {
  padding-bottom: 120px;
}
.intro .intro-content {
  width: 100%;
  height: 400px;
  background-color: rgba(201, 156, 156, 0.3);
}
.intro h1 {
  font-weight: bold;
  font-size: 40px;
}
.intro p {
  font-size: 18px;
}
.intro span {
  color: #175cff;
}
.intro__form input {
  min-width: 280px;
  padding: 0.65rem 1rem;
  margin-bottom: 10px;
}
.intro__form button {
  padding: 10px 16px;
}
.intro__form span {
  max-width: 296px;
  position: relative;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
.intro__form span::before {
  content: "";
  position: absolute;
  top: 5.5px;
  left: -11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/control-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.intro__customer-logos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.intro__customer-logos li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__customer-logos img {
  max-height: 109px;
  transition: all 1s ease-in-out;
}
.intro__customer-logos img:hover {
  transform: scale(1.2);
}
@media (max-width: 767px) {
  .intro__customer-logos {
    grid-template-columns: 1fr;
  }
  .intro__customer-logos li {
    margin-bottom: 10px;
  }
}
.intro ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.intro ul li {
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #0065FF;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro ul .intro__advantages {
  font-weight: bold;
  font-size: 36px;
  color: #0065FF;
  margin-right: 15px;
}
.intro ul .intro__advantages span {
  font-size: 18px;
}
.intro ul p {
  font-size: 14px;
  margin-bottom: 0;
}
.carousel-control-prev {
  left: -100px;
}
.carousel-control-prev span {
  background-image: url("../img/carousel/arrow.svg");
  transform: rotate(180deg);
  opacity: 1;
}
.carousel-control-next {
  right: -100px;
}
.carousel-control-next span {
  background-image: url("../img/carousel/arrow.svg");
  opacity: 1;
}
.efficiency ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
@media (max-width: 767px) {
  .efficiency ul {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
.efficiency li {
  width: 100%;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #0b163f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.efficiency li .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.efficiency li p {
  text-align: center;
  font-size: 20px;
}
@media (max-width: 767px) {
  .efficiency li {
    padding: 1rem;
  }
  .efficiency li p {
    font-size: 16px;
  }
  .efficiency li img {
    width: 50px;
  }
}
.efficiency span {
  position: relative;
  font-weight: bold;
  font-size: 56px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .efficiency span {
    font-size: 36px;
    margin-top: 5px;
  }
}
.main-footer {
  padding-top: 120px;
  background-color: #0065FF;
}
.main-footer__nav {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 60px;
}
.main-footer p {
  color: #ffffff;
}
.main-footer h3 {
  color: #ffffff;
}
.main-footer ul li {
  text-align: left;
}
.main-footer ul li:not(:last-child) {
  margin-bottom: 4px;
}
.main-footer ul li > a {
  color: #ffffff;
}
.main-footer__social {
  background-color: #0065FF;
  color: #ffffff;
  padding: 40px 0;
}
.main-footer__social p {
  margin: 0;
  font-size: 14px;
}
.main-footer__social ul {
  display: flex;
}
.main-footer__social ul li:not(:last-child) {
  margin-right: 20px;
}
.main-footer__social ul a {
  fill: #ffffff;
}
.main-footer a {
  transition: all 0.6s ease-in-out;
}
.main-footer a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.service ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 767px) {
  .service ul {
    grid-template-columns: 1fr;
  }
}
.service li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 48px;
  border: 1px solid rgba(11, 22, 63, 0.12);
  border-top: none;
  transition: all 0.6s ease-in-out;
}
.service li:hover {
  box-shadow: 0 10px 30px #0000001a;
}
.service li h3 {
  font-weight: bold;
}
.service li p {
  font-size: 16px;
}
@media (min-width: 1440px) {
  .service li:first-child,
  .service li:nth-child(4) {
    border-left: none;
  }
  .service li:nth-child(3n) {
    border-right: none;
  }
  .service li:last-child,
  .service li:nth-last-child(2),
  .service li:nth-last-child(3) {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .service li {
    border: 1px solid rgba(11, 22, 63, 0.12);
  }
}
.stages img {
  border-radius: 20px;
  max-width: 580px;
}
.stages__step {
  margin-right: 20px;
  position: relative;
}
.stages__step::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 0;
  right: 47%;
  transform: translate(-50%, 50%);
  height: 160px;
  z-index: -1;
  border-style: dashed;
  border-width: 1px;
  border-color: #0b163f1f;
  background-color: transparent;
}
.stages__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 2px solid rgba(11, 22, 63, 0.12);
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.stages__icon::before {
  content: "";
  position: absolute;
  top: 28%;
  left: 35%;
  width: 20px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
}
.stages__icon--request::before {
  background-image: url("../img/stages/request.svg");
}
.stages__icon--agreement::before {
  background-image: url("../img/stages/agreement.svg");
}
.stages__icon--chat::before {
  background-image: url("../img/stages/chat.svg");
}
.stages__icon--contract::before {
  background-image: url("../img/stages/contract.svg");
}
.stages__icon--support::before {
  background-image: url("../img/stages/support.svg");
}
.demo h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.demo h2 span {
  color: #0065FF;
}
.demo p {
  font-size: 20px;
  margin-bottom: 40px;
}
.demo__button a {
  padding: 20px;
  background-color: #0065FF;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}
.demo__button a:hover {
  background-color: #ffffff;
  color: #0065FF;
}
.banner {
  padding-top: 0;
  margin-top: -88px;
}
.banner__section {
  padding: 40px;
  border-radius: 20px;
  background-color: #0065FF;
  color: #ffffff;
}
.banner__section p {
  font-size: 20px;
  margin-bottom: 10px;
}
.banner__section a {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #0065FF;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}
.banner__section a:hover {
  transform: scale(1.1);
}
.banner__button {
  display: flex;
  justify-content: center;
}
.feedback__contacts h3 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.feedback__contacts ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feedback__contacts li {
  width: 45%;
  border: 2px solid #0065FF;
  border-radius: 20px;
  background-color: #f8f9fa;
  padding: 30px;
}
.feedback__contacts h4 {
  font-size: 28px;
  font-weight: bold;
}
.feedback__contacts a {
  color: #0065FF;
  font-size: 20px;
}
.feedback__item span {
  display: block;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}
.feedback__item--email span {
  background-image: url("../img/form-icons/email.svg");
}
.feedback__item--phone span {
  background-image: url("../img/form-icons/phone.svg");
}
.form {
  padding: 40px;
  border: 2px solid #0065FF;
  border-radius: 20px;
}
.form button {
  border-radius: 50rem;
  border: none;
  background-color: #0065FF;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 28px;
  font-size: 16px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field label {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 30px;
}
.form__field input {
  border: 2px solid #dee2e6;
  border-radius: 6px;
  font-size: 16px;
  padding: 6px 16px;
  margin-bottom: 5px;
}
.form__title span {
  color: #ff0000;
}
.form__title::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.form__title--fio::before {
  background-image: url("../img/form-icons/fio.svg");
}
.form__title--organization::before {
  background-image: url("../img/form-icons/organization.svg");
}
.form__title--city::before {
  background-image: url("../img/form-icons/city.svg");
}
.form__title--email::before {
  background-image: url("../img/form-icons/email.svg");
}
.form__title--phone::before {
  background-image: url("../img/form-icons/phone.svg");
}
.about-company span {
  color: #0065FF;
}
.about-company ul {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about-company__item {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.about-company__item h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.about-company__item p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}
.about-company__item span {
  display: block;
  min-width: 80px;
  height: 80px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about-company__item--happy span {
  background-image: url("../img/about-company/happy-users.svg");
}
.about-company__item--projects span {
  background-image: url("../img/about-company/projects.svg");
}
.about-company__item--team span {
  background-image: url("../img/about-company/team.svg");
}
.about-company__item--satisfaction span {
  background-image: url("../img/about-company/satisfaction.svg");
}
.gallery {
  padding-top: 0;
}
/*# sourceMappingURL=style.css.map */
