@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-display: swap;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input {
  font-family: "Exo2", "Arial", sans-serif;
}
.background-light-grey {
  background-color: #f2f4fb;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  position: fixed;
  background-color: #ffffff;
  border-bottom: 1px solid #dadada;
  z-index: 1000;
}
.main-header a {
  transition: all 0.6s ease-in-out;
}
.main-header a:hover {
  opacity: 0.6;
}
.main-header .navbar {
  padding: 20px 0;
  background: none;
}
.main-header .navbar-nav {
  margin: 0 auto;
}
.main-header .main-header__sign-in {
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
  margin-right: 10px;
  color: #316AFF;
  border: 1px solid #316AFF;
}
.main-header .main-header__sign-in:hover {
  opacity: 1;
  background-color: #316AFF;
  color: #ffffff;
}
.main-header .main-header__login {
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  background-color: #316AFF;
  padding: 10px 20px;
  transition: all 0.6s ease-in-out;
}
.main-header .main-header__login:hover {
  opacity: 1;
  color: #316AFF;
  border: 1px solid #316AFF;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .main-header .navbar {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .main-header .navbar .navbar-brand {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  .main-header .navbar .navbar-toggler {
    margin-bottom: 10px;
  }
  .main-header .navbar .navbar-collapse ul {
    margin-bottom: 0 !important;
  }
  .main-header .navbar .navbar-collapse ul li a {
    border-top: 1px solid #dadada;
    padding: 10px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
  }
}
.site-section {
  padding: 120px 0;
}
.site-section h2 {
  font-size: 34px;
  font-weight: bold;
}
.site-section p {
  font-size: 18px;
}
.site-section__main-content {
  padding-bottom: 120px;
}
@media (max-width: 1439px) {
  .site-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .site-section {
    padding: 40px 0;
  }
  .site-section h2 {
    font-size: 24px;
  }
  .site-section p {
    font-size: 14px;
  }
}
.section-heading {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .section-heading {
    margin-bottom: 20px;
  }
}
.background-light {
  background-color: #f8f9fa;
}
.intro {
  padding-top: 190px;
  padding-bottom: 150px;
}
.intro .intro-content {
  width: 100%;
  height: 400px;
  background-color: rgba(201, 156, 156, 0.3);
}
.intro .site-section__main-content {
  padding-bottom: 70px;
}
.intro img {
  height: 450px;
}
.intro h1 {
  font-weight: bold;
  font-size: 36px;
}
.intro p {
  font-size: 18px;
}
.intro span {
  color: #316AFF;
}
.intro__form input {
  min-width: 280px;
  padding: 0.65rem 1rem;
  margin-bottom: 10px;
}
.intro__form button {
  padding: 10px 16px;
  background-color: #316AFF;
  color: #ffffff;
  font-weight: bold;
  transition: all 1s ease-in-out;
}
.intro__form button:hover {
  color: #316AFF;
  background-color: #ffffff;
  border: 1px solid #316AFF;
}
.intro__form span {
  max-width: 296px;
  position: relative;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
.intro__form span::before {
  content: "";
  position: absolute;
  top: 5.5px;
  left: -11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/control-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.intro__footer {
  display: flex;
  flex-direction: column;
}
.intro__footer__buttons {
  margin-bottom: 20px;
}
.intro__footer__buttons button,
.intro__footer__buttons a {
  padding: 10px 16px;
  background-color: #316AFF;
  color: #ffffff;
  font-weight: bold;
  transition: all 1s ease-in-out;
}
.intro__footer__buttons button:hover,
.intro__footer__buttons a:hover {
  color: #316AFF;
  background-color: #ffffff;
  border: 1px solid #316AFF;
}
.intro__footer__possibilities {
  display: flex;
  flex-direction: column;
}
.intro__footer__possibilities span {
  max-width: 296px;
  position: relative;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
.intro__footer__possibilities span::before {
  content: "";
  position: absolute;
  top: 5.5px;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/control-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.intro__footer--default {
  display: flex !important;
}
.intro__footer--mobile {
  display: none !important;
}
.intro ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.intro ul li {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e3e8fc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro ul .intro__advantages {
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  color: #316AFF;
  margin-bottom: 5px;
  text-align: center;
}
.intro ul .intro__advantages span {
  font-size: 18px;
}
.intro ul p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}
@media (max-width: 1399px) {
  .intro {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .intro .site-section__main-content {
    padding-bottom: 50px;
  }
  .intro .site-section__main-content h1,
  .intro .site-section__main-content p {
    text-align: center;
  }
  .intro .site-section__main-content .intro__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .intro .site-section__main-content .intro__footer--default {
    display: none !important;
  }
  .intro .site-section__main-content .intro__footer--mobile {
    margin-top: 40px;
    display: flex !important;
  }
  .intro img {
    display: block;
    margin: 0 auto;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 8px;
    width: 600px;
    height: auto;
  }
  .intro ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  .intro ul li {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #e3e8fc;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro ul .intro__advantages {
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #316AFF;
    margin-bottom: 5px;
    text-align: center;
  }
  .intro ul .intro__advantages span {
    font-size: 18px;
  }
  .intro ul p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .intro {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .intro img {
    padding: 10px;
    height: auto;
    width: 100%;
  }
  .intro h1 {
    font-weight: bold;
    font-size: 24px;
  }
  .intro p {
    font-size: 18px;
    margin-bottom: 0;
  }
  .intro__footer__buttons button,
  .intro__footer__buttons a {
    padding: 10px 16px;
    background-color: #316AFF;
    color: #ffffff;
    font-weight: bold;
    transition: all 1s ease-in-out;
  }
  .intro__footer__buttons button:hover,
  .intro__footer__buttons a:hover {
    color: #316AFF;
    background-color: #ffffff;
    border: 1px solid #316AFF;
  }
  .intro__footer--mobile {
    margin-top: 20px !important;
  }
  .intro__footer--mobile button,
  .intro__footer--mobile a {
    width: 100%;
    margin-bottom: 10px;
  }
  .intro__footer--mobile a {
    margin-bottom: 0;
  }
  .intro ul {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
  }
  .intro ul li {
    padding: 10px;
  }
  .intro ul .intro__advantages {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .intro ul p {
    font-size: 16px;
  }
}
.what-offer__card {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  height: 100%;
}
.what-offer__card .text-content h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
}
.what-offer__card .text-content p {
  max-width: 570px;
  font-size: 16px;
  font-weight: 300;
}
.what-offer__card .image-content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.what-offer__card .image-content.image-content-center {
  justify-content: center;
}
@media (max-width: 1439px) {
  .what-offer__card.mobile-modify .text-content h3 {
    text-align: center;
  }
  .what-offer__card.mobile-modify .image-content {
    justify-content: center;
  }
  .what-offer__card .text-content p {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .what-offer h2 {
    margin-bottom: 20px;
  }
  .what-offer__card .text-content h3 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .what-offer__card .text-content p {
    font-size: 14px;
  }
  .what-offer__card .image-content {
    justify-content: center;
  }
  .what-offer__card.mobile-modify .text-content h3 {
    text-align: left;
  }
}
.carousel-control-prev {
  left: -100px;
}
.carousel-control-prev span {
  background-image: url("../img/carousel/arrow.svg");
  transform: rotate(180deg);
  opacity: 1;
}
.carousel-control-next {
  right: -100px;
}
.carousel-control-next span {
  background-image: url("../img/carousel/arrow.svg");
  opacity: 1;
}
.efficiency ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
@media (max-width: 1439px) {
  .efficiency ul {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
.efficiency li {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(11, 22, 63, 0.7);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.efficiency li .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border-bottom: none;
}
.efficiency li p {
  text-align: center;
  font-size: 20px;
}
@media (max-width: 1439px) {
  .efficiency li {
    padding: 0.5rem;
  }
}
@media (max-width: 767px) {
  .efficiency li {
    padding: 1rem;
  }
  .efficiency li p {
    font-size: 16px;
  }
  .efficiency li img {
    width: 50px;
  }
}
.efficiency span {
  position: relative;
  font-weight: bold;
  font-size: 56px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .efficiency span {
    font-size: 36px;
    margin-top: 5px;
  }
}
.main-footer {
  padding-top: 0;
  background: radial-gradient(98.32% 89.32% at 50% -31.76%, #4d5ea5 0, #272d45 100%);
}
.main-footer__nav {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 60px;
}
.main-footer p {
  color: #ffffff;
}
.main-footer h3 {
  color: #ffffff;
}
.main-footer ul li {
  text-align: left;
}
.main-footer ul li:not(:last-child) {
  margin-bottom: 4px;
}
.main-footer ul li > a {
  color: #ffffff;
}
.main-footer__social {
  color: #ffffff;
  padding: 40px 0;
}
.main-footer__social p {
  margin: 0;
  font-size: 14px;
}
.main-footer__social ul {
  display: flex;
  margin-bottom: 0;
}
.main-footer__social ul li:not(:last-child) {
  margin-right: 20px;
}
.main-footer__social ul a {
  display: flex;
  align-items: center;
}
.main-footer__social ul a img {
  margin-right: 5px;
}
.main-footer__social ul a span {
  text-decoration: underline;
  font-size: 18px;
}
.main-footer a {
  transition: all 0.6s ease-in-out;
}
.main-footer a:hover {
  transform: scale(1.05);
  opacity: 0.6;
}
@media (max-width: 1439px) {
  .main-footer__social {
    padding: 20px 0;
  }
  .main-footer__social ul a span {
    text-decoration: underline;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .main-footer p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .main-footer ul li a img {
    margin-top: 3px;
    width: 18px;
    height: 18px;
  }
  .main-footer ul li a span {
    font-size: 14px;
  }
}
.service ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 767px) {
  .service ul {
    grid-template-columns: 1fr;
  }
}
.service li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 48px;
  border: 1px solid rgba(11, 22, 63, 0.12);
  border-top: none;
  transition: all 0.6s ease-in-out;
}
.service li:hover {
  box-shadow: 0 10px 30px #0000001a;
}
.service li img {
  margin-bottom: 32px;
}
.service li h3 {
  font-weight: bold;
}
.service li p {
  font-size: 16px;
}
@media (min-width: 1440px) {
  .service li:first-child,
  .service li:nth-child(4) {
    border-left: none;
  }
  .service li:nth-child(3n) {
    border-right: none;
  }
  .service li:last-child,
  .service li:nth-last-child(2),
  .service li:nth-last-child(3) {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .service li {
    border: 1px solid rgba(11, 22, 63, 0.12);
  }
}
.stages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  margin-bottom: 53px;
}
.stages ul li {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
}
.stages ul li span {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  display: block;
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  background-color: #316AFF;
  padding: 10px 23px;
  border-radius: 8px;
}
.stages ul li h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 16px;
}
.stages ul li p {
  font-size: 16px;
}
.stages button {
  max-width: 200px;
  padding: 10px 16px;
  background-color: #316AFF;
  color: #ffffff;
  font-weight: bold;
  transition: all 1s ease-in-out;
}
.stages button:hover {
  color: #316AFF;
  background-color: #ffffff;
  border: 1px solid #316AFF;
}
@media (max-width: 1439px) {
  .stages ul {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .stages ul li {
    padding: 20px;
  }
  .stages button {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .stages h2 {
    max-width: 100%;
    font-size: 24px;
  }
  .stages ul {
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-bottom: 10px;
  }
  .stages ul li {
    padding: 10px;
    text-align: center;
  }
  .stages ul li h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .stages ul li span {
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .stages ul li p {
    font-size: 14px;
  }
  .stages button {
    max-width: 85%;
  }
}
.demo h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.demo h2 span {
  color: #316AFF;
}
.demo p {
  font-size: 20px;
  margin-bottom: 40px;
}
.demo__button a {
  padding: 20px;
  background-color: #316AFF;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}
.demo__button a:hover {
  background-color: #ffffff;
  color: #316AFF;
}
.banner {
  padding-top: 0;
  margin-top: -88px;
}
.banner__section {
  padding: 40px;
  border-radius: 20px;
  background-color: #316AFF;
  color: #ffffff;
}
.banner__section p {
  font-size: 20px;
  margin-bottom: 10px;
}
.banner__section a {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #316AFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}
.banner__section a:hover {
  transform: scale(1.1);
}
.banner__button {
  display: flex;
  justify-content: center;
}
@media (max-width: 1439px) {
  .banner__section {
    padding: 20px;
  }
  .banner__section h2 {
    font-size: 22px;
  }
  .banner__section p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .banner__section a {
    padding: 15px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .banner__section {
    padding: 30px;
  }
  .banner__section h2 {
    font-size: 18px;
  }
  .banner__section p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .banner__section a {
    width: 94%;
    padding: 6px 0;
    text-align: center;
  }
}
.feedback {
  padding-top: 30px;
}
.feedback__contacts h3 {
  text-align: end;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.feedback__contacts ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feedback__contacts li {
  width: 45%;
  border: 2px solid #316AFF;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 30px;
}
.feedback__contacts h4 {
  font-size: 28px;
  font-weight: bold;
}
.feedback__contacts a {
  color: #316AFF;
  font-size: 20px;
}
.feedback__item span {
  display: block;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}
.feedback__item--email span {
  background-image: url("../img/form-icons/email.svg");
}
.feedback__item--phone span {
  background-image: url("../img/form-icons/phone.svg");
}
.feedback h2 {
  text-align: center;
  margin-bottom: 20px;
}
.feedback p {
  text-align: center;
}
.feedback button {
  display: block;
  margin: 0 auto;
}
.feedback__button {
  height: 48px;
  width: 100%;
  max-width: 296px;
  border: 1px solid #316AFF;
  border-radius: 6px;
  background-color: #ffffff;
  color: #316AFF;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.feedback__button:hover {
  background-color: #316AFF;
  color: #ffffff;
}
.form {
  padding: 20px;
  border-radius: 20px;
}
.form button {
  border-radius: 50rem;
  border: none;
  background-color: #316AFF;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 28px;
  font-size: 16px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field label {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 30px;
}
.form__field input,
.form__field textarea {
  border: none;
  border-bottom: 2px solid #dee2e6;
  font-size: 16px;
  padding: 6px 16px;
  margin-bottom: 5px;
}
.form__field input:focus-visible,
.form__field textarea:focus-visible {
  outline: none;
  border-bottom: 2px solid #316AFF;
}
.form__comment label {
  margin: 0;
  margin-bottom: 5px;
}
.form__comment textarea {
  padding: 5px;
}
.form__radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__radio p {
  width: 100%;
  font-weight: bold;
}
.form__radio label {
  padding: 6px 10px;
  margin: 0;
  border: 2px solid #316AFF;
  border-radius: 16px;
  background-color: #ffffff;
  color: #316AFF;
  cursor: pointer;
}
.form__radio label:not(:last-child) {
  margin-right: 20px;
}
.form__radio label:hover {
  background-color: #316AFF;
  color: #ffffff;
}
.form__title span {
  color: #ff0000;
}
.form__title::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.form__title--fio::before {
  background-image: url("../img/form-icons/fio.svg");
}
.form__title--organization::before {
  background-image: url("../img/form-icons/organization.svg");
}
.form__title--city::before {
  background-image: url("../img/form-icons/city.svg");
}
.form__title--email::before {
  background-image: url("../img/form-icons/email.svg");
}
.form__title--phone::before {
  background-image: url("../img/form-icons/phone.svg");
}
.modal-body {
  padding: 36px;
}
.modal-content {
  border: none;
}
.modal-header {
  padding-top: 36px;
  border-bottom: none;
}
.modal-header h5 {
  font-size: 24px;
  margin: 0 auto;
}
.modal-header button.close {
  border: none;
  background: none;
}
.modal-header button.close span {
  display: block;
  font-size: 36px;
  line-height: normal;
  margin-bottom: 3px;
}
@media (max-width: 767px) {
  .modal-header {
    padding-top: 20px;
    border-bottom: 1px solid #dadada;
  }
  .modal-header h5 {
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto;
  }
  .modal-body {
    padding: 10px;
  }
  .modal-body .form {
    padding: 10px;
  }
  .modal-body .form .form__field.form__radio .form__radio__list label {
    margin-bottom: 10px;
  }
  .modal-body .form button {
    margin-top: 10px;
    width: 100%;
  }
}
.about-company span {
  color: #316AFF;
}
.about-company ul {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about-company__item {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.about-company__item h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.about-company__item p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}
.about-company__item .pic-container {
  border-radius: 10px;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  padding: 10px;
}
.about-company__item span {
  display: block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about-company__item--happy .pic-container {
  background-color: #fff0f0;
}
.about-company__item--happy span {
  background-image: url("../img/about-company/happy-users.svg");
}
.about-company__item--projects .pic-container {
  background-color: #fffbe6;
}
.about-company__item--projects span {
  background-image: url("../img/about-company/projects.svg");
}
.about-company__item--team .pic-container {
  background-color: #edecff;
}
.about-company__item--team span {
  background-image: url("../img/about-company/team.svg");
}
.about-company__item--satisfaction .pic-container {
  background-color: #e6fafb;
}
.about-company__item--satisfaction span {
  background-image: url("../img/about-company/satisfaction.svg");
}
.gallery {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1439px) {
  .gallery h2 {
    font-size: 30px;
  }
  .gallery .carousel ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gallery .carousel ul li {
    display: flex;
    align-items: center;
    height: 85px;
  }
  .gallery .carousel ul li img {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: auto;
  }
  .gallery .carousel .carousel-control-prev,
  .gallery .carousel .carousel-control-next {
    display: none;
  }
}
@media (max-width: 767px) {
  .gallery {
    padding: 60px 0;
  }
  .gallery h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .gallery .carousel ul li {
    display: flex;
    align-items: center;
    height: 65px;
  }
  .gallery .carousel ul li img {
    width: 50px;
    max-width: 50px;
    min-width: 50px;
    height: auto;
  }
}
.experience h2 {
  margin-bottom: 20px;
}
.experience__sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid #e4e5e7;
}
.experience__sections .experience__section {
  padding-bottom: 15px;
  cursor: pointer;
}
.experience__sections .experience__section:not(:last-child) {
  margin-right: 20px;
}
.experience__sections .experience__section--active {
  color: #316AFF;
  border-bottom: 5px solid #316AFF;
}
.experience__sections .experience__section:hover {
  color: #316AFF;
}
.experience__sections p {
  display: block;
  margin-bottom: 0;
}
.expirience__cards {
  padding: 40px 0;
}
.expirience__cards .experience__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}
.expirience__cards .experience__list--not-active {
  display: none;
}
.expirience__cards .experience__list li {
  border-radius: 20px;
  background-color: #f6f8fe;
  padding: 25px;
}
.expirience__cards .experience__list span {
  color: #316AFF;
}
.expirience__cards .experience__list h3 {
  color: #000000;
  margin: 10px 0 20px;
}
.expirience__cards .experience__list .expirience__card-type span {
  padding: 10px;
  background-color: #fff0f0;
  color: #000000;
}
.price {
  padding-bottom: 0;
  background-color: #f6f8fe;
}
.price p {
  margin: 0;
  color: #888ca0;
}
.price ul {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price li {
  position: relative;
  padding: 20px 60px 20px 20px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(143, 154, 210, 0.16);
}
.price li h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.price li .price-value {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
}
.price li .rouble {
  font-size: 22px;
  font-weight: bold;
}
.price li p {
  margin-top: 10px;
}
.price li::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30%;
  right: 10%;
  background-image: url("../img/price-image.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.price-slider {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(183, 195, 247, 0.3);
  border-radius: 16px;
}
.price-slider label {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.price-slider label .period {
  padding: 8px;
  width: 100%;
  text-align: center;
  line-height: 32px;
  font-size: 1.2rem;
  color: #ffffff;
}
.price-slider label input {
  transition: all 0.6s ease-in-out;
}
.price-slider label .profitable {
  display: none;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 4px 8px;
  background: linear-gradient(119.24deg, #496af8 -77.56%, #a880ff 14.27%, #ffb470 107.43%);
  border-radius: 4px;
  color: #ffffff;
}
.price-slider label input:checked + .period {
  border-radius: 16px;
  background-color: #316AFF;
}
.price-slider label input:checked + .period + .profitable {
  display: block;
}
@media (max-width: 1439px) {
  .price ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .price ul {
    margin-top: 20px;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .price-slider label .period {
    padding: 4px 0;
    font-size: 16px;
  }
  .price-slider label input {
    transition: all 0.6s ease-in-out;
  }
}
@media (max-width: 1439px) {
  .faq .section-heading {
    margin-bottom: 30px;
  }
  .faq__row .faq__column--accordion {
    order: 2;
  }
  .faq__row .faq__column--title {
    order: 1;
  }
}
@media (max-width: 767px) {
  .faq .accordion {
    margin-bottom: 30px;
  }
  .faq .accordion .accordion-item h2 button {
    font-size: 16px;
  }
  .faq .accordion .accordion-item .accordion-body {
    font-size: 14px;
  }
}
.functions {
  background-color: #171e3a;
}
.functions h2 {
  color: #ffffff;
}
.functions img {
  max-height: 600px;
  justify-self: center;
}
.functions__item {
  position: relative;
  padding-left: 48px;
  padding-bottom: 32px;
  color: #ffffff;
  cursor: pointer;
}
.functions__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #316AFF;
}
.functions__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 2px;
  height: 100%;
  background-color: #316AFF;
}
.functions__item h3 {
  font-size: 24px;
  font-weight: bold;
}
.functions__item p {
  font-size: 18px;
  display: none;
}
.functions__item a {
  font-size: 18px;
  color: #316AFF;
  display: none;
  transition: all 0.6s ease-in-out;
}
.functions__item a:hover {
  transform: scale(1.05);
}
.functions__item--active::after {
  content: "";
  left: -4px;
  width: 24px;
  height: 24px;
  background: linear-gradient(285.34deg, #a4b5ff 24%, #add4ff 72.53%);
}
.functions__item--active::before {
  content: "";
  left: 10px;
  height: 100%;
  background: linear-gradient(285.34deg, #a4b5ff 24%, #add4ff 72.53%);
}
.functions__item--active p {
  display: block;
}
.functions__item--active a {
  display: block;
}
/*# sourceMappingURL=style.css.map */
