@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"), url("../fonts/Exo2-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"), url("../fonts/Exo2-Bold.woff") format("woff");
  font-display: swap;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input {
  font-family: "Exo2", "Arial", sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
}
.main-header a {
  transition: all 0.6s ease-in-out;
}
.main-header a:hover {
  opacity: 0.6;
}
.main-header .navbar {
  padding: 20px 0;
  background: none;
}
.main-header .navbar-nav {
  margin: 0 auto;
}
.main-header .main-header__sign-in {
  border-radius: 10px;
  padding: 10px 15px;
  font-weight: bold;
  margin-right: 10px;
  color: #5e79ec;
  border: 1px solid #5e79ec;
}
.main-header .main-header__sign-in:hover {
  opacity: 1;
  background-color: #5e79ec;
  color: #ffffff;
}
.main-header .main-header__login {
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  background-color: #5e79ec;
  padding: 10px 20px;
  transition: all 0.6s ease-in-out;
}
.main-header .main-header__login:hover {
  opacity: 1;
  color: #5e79ec;
  border: 1px solid #5e79ec;
  background-color: #ffffff;
}
.site-section {
  padding: 120px 0;
}
.site-section h2 {
  font-size: 34px;
  font-weight: bold;
}
.site-section p {
  font-size: 18px;
}
.site-section__main-content {
  padding-bottom: 120px;
}
.section-heading {
  margin-bottom: 50px;
}
.background-light {
  background-color: #f8f9fa;
}
.intro {
  padding-bottom: 120px;
}
.intro .intro-content {
  width: 100%;
  height: 400px;
  background-color: rgba(201, 156, 156, 0.3);
}
.intro h1 {
  font-weight: bold;
  font-size: 36px;
}
.intro p {
  font-size: 18px;
}
.intro span {
  color: #5e79ec;
}
.intro__form input {
  min-width: 280px;
  padding: 0.65rem 1rem;
  margin-bottom: 10px;
}
.intro__form button {
  padding: 10px 16px;
  background-color: #5e79ec;
  color: #ffffff;
  font-weight: bold;
  transition: all 1s ease-in-out;
}
.intro__form button:hover {
  color: #5e79ec;
  background-color: #ffffff;
  border: 1px solid #5e79ec;
}
.intro__form span {
  max-width: 296px;
  position: relative;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
.intro__form span::before {
  content: "";
  position: absolute;
  top: 5.5px;
  left: -11px;
  width: 15px;
  height: 15px;
  background-image: url("../img/control-mark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.intro__customer-logos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  margin-right: auto;
  margin-left: auto;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.intro__customer-logos li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro__customer-logos img {
  max-height: 109px;
  transition: all 1s ease-in-out;
}
.intro__customer-logos img:hover {
  transform: scale(1.2);
}
@media (max-width: 767px) {
  .intro__customer-logos {
    grid-template-columns: 1fr;
  }
  .intro__customer-logos li {
    margin-bottom: 10px;
  }
}
.intro ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.intro ul li {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #e3e8fc;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro ul .intro__advantages {
  font-weight: bold;
  font-size: 36px;
  color: #5e79ec;
  margin-right: 15px;
}
.intro ul .intro__advantages span {
  font-size: 18px;
}
.intro ul p {
  font-size: 14px;
  margin-bottom: 0;
}
.carousel-control-prev {
  left: -100px;
}
.carousel-control-prev span {
  background-image: url("../img/carousel/arrow.svg");
  transform: rotate(180deg);
  opacity: 1;
}
.carousel-control-next {
  right: -100px;
}
.carousel-control-next span {
  background-image: url("../img/carousel/arrow.svg");
  opacity: 1;
}
.efficiency ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
@media (max-width: 767px) {
  .efficiency ul {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
.efficiency li {
  width: 100%;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #0b163f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.efficiency li .card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.efficiency li p {
  text-align: center;
  font-size: 20px;
}
@media (max-width: 767px) {
  .efficiency li {
    padding: 1rem;
  }
  .efficiency li p {
    font-size: 16px;
  }
  .efficiency li img {
    width: 50px;
  }
}
.efficiency span {
  position: relative;
  font-weight: bold;
  font-size: 56px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .efficiency span {
    font-size: 36px;
    margin-top: 5px;
  }
}
.main-footer {
  padding-top: 120px;
  background: radial-gradient(98.32% 89.32% at 50% -31.76%, #4d5ea5 0, #272d45 100%);
}
.main-footer__nav {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 60px;
}
.main-footer p {
  color: #ffffff;
}
.main-footer h3 {
  color: #ffffff;
}
.main-footer ul li {
  text-align: left;
}
.main-footer ul li:not(:last-child) {
  margin-bottom: 4px;
}
.main-footer ul li > a {
  color: #ffffff;
}
.main-footer__social {
  color: #ffffff;
  padding: 40px 0;
}
.main-footer__social p {
  margin: 0;
  font-size: 14px;
}
.main-footer__social ul {
  display: flex;
}
.main-footer__social ul li:not(:last-child) {
  margin-right: 20px;
}
.main-footer__social ul a {
  fill: #ffffff;
}
.main-footer a {
  transition: all 0.6s ease-in-out;
}
.main-footer a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
.service ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 767px) {
  .service ul {
    grid-template-columns: 1fr;
  }
}
.service li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 48px;
  border: 1px solid rgba(11, 22, 63, 0.12);
  border-top: none;
  transition: all 0.6s ease-in-out;
}
.service li:hover {
  box-shadow: 0 10px 30px #0000001a;
}
.service li img {
  margin-bottom: 32px;
}
.service li h3 {
  font-weight: bold;
}
.service li p {
  font-size: 16px;
}
@media (min-width: 1440px) {
  .service li:first-child,
  .service li:nth-child(4) {
    border-left: none;
  }
  .service li:nth-child(3n) {
    border-right: none;
  }
  .service li:last-child,
  .service li:nth-last-child(2),
  .service li:nth-last-child(3) {
    border-bottom: none;
  }
}
@media (max-width: 767px) {
  .service li {
    border: 1px solid rgba(11, 22, 63, 0.12);
  }
}
.stages img {
  border-radius: 20px;
  max-width: 580px;
}
.stages__step {
  margin-right: 20px;
  position: relative;
}
.stages__step::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 0;
  right: 47%;
  transform: translate(-50%, 50%);
  height: 160px;
  z-index: -1;
  border-style: dashed;
  border-width: 1px;
  border-color: #0b163f1f;
  background-color: transparent;
}
.stages__icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 2px solid rgba(11, 22, 63, 0.12);
  border-radius: 20px;
  text-align: center;
  position: relative;
}
.stages__icon::before {
  content: "";
  position: absolute;
  top: 28%;
  left: 35%;
  width: 20px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
}
.stages__icon--request::before {
  background-image: url("../img/stages/request.svg");
}
.stages__icon--agreement::before {
  background-image: url("../img/stages/agreement.svg");
}
.stages__icon--chat::before {
  background-image: url("../img/stages/chat.svg");
}
.stages__icon--contract::before {
  background-image: url("../img/stages/contract.svg");
}
.stages__icon--support::before {
  background-image: url("../img/stages/support.svg");
}
.demo h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.demo h2 span {
  color: #5e79ec;
}
.demo p {
  font-size: 20px;
  margin-bottom: 40px;
}
.demo__button a {
  padding: 20px;
  background-color: #5e79ec;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}
.demo__button a:hover {
  background-color: #ffffff;
  color: #5e79ec;
}
.banner {
  padding-top: 0;
  margin-top: -88px;
}
.banner__section {
  padding: 40px;
  border-radius: 20px;
  background-color: #5e79ec;
  color: #ffffff;
}
.banner__section p {
  font-size: 20px;
  margin-bottom: 10px;
}
.banner__section a {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #5e79ec;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
}
.banner__section a:hover {
  transform: scale(1.1);
}
.banner__button {
  display: flex;
  justify-content: center;
}
.feedback__contacts h3 {
  text-align: end;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}
.feedback__contacts ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feedback__contacts li {
  width: 45%;
  border: 2px solid #5e79ec;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 30px;
}
.feedback__contacts h4 {
  font-size: 28px;
  font-weight: bold;
}
.feedback__contacts a {
  color: #5e79ec;
  font-size: 20px;
}
.feedback__item span {
  display: block;
  width: 36px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 15px;
}
.feedback__item--email span {
  background-image: url("../img/form-icons/email.svg");
}
.feedback__item--phone span {
  background-image: url("../img/form-icons/phone.svg");
}
.feedback h2 {
  text-align: center;
  margin-bottom: 20px;
}
.feedback p {
  text-align: center;
}
.feedback button {
  display: block;
  margin: 0 auto;
}
.feedback__button {
  height: 48px;
  width: 100%;
  max-width: 296px;
  border: 1px solid #5e79ec;
  border-radius: 6px;
  background-color: #ffffff;
  color: #5e79ec;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
.feedback__button:hover {
  background-color: #5e79ec;
  color: #ffffff;
}
.form {
  padding: 20px;
  border-radius: 20px;
}
.form button {
  border-radius: 50rem;
  border: none;
  background-color: #5e79ec;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 28px;
  font-size: 16px;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field label {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 30px;
}
.form__field input,
.form__field textarea {
  border: none;
  border-bottom: 2px solid #dee2e6;
  font-size: 16px;
  padding: 6px 16px;
  margin-bottom: 5px;
}
.form__field input:focus-visible,
.form__field textarea:focus-visible {
  outline: none;
  border-bottom: 2px solid #5e79ec;
}
.form__comment label {
  margin: 0;
  margin-bottom: 5px;
}
.form__comment textarea {
  padding: 5px;
}
.form__radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__radio p {
  width: 100%;
  font-weight: bold;
}
.form__radio label {
  padding: 6px 10px;
  margin: 0;
  border: 2px solid #5e79ec;
  border-radius: 16px;
  background-color: #ffffff;
  color: #5e79ec;
  cursor: pointer;
}
.form__radio label:not(:last-child) {
  margin-right: 20px;
}
.form__radio label:hover {
  background-color: #5e79ec;
  color: #ffffff;
}
.form__title span {
  color: #ff0000;
}
.form__title::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.form__title--fio::before {
  background-image: url("../img/form-icons/fio.svg");
}
.form__title--organization::before {
  background-image: url("../img/form-icons/organization.svg");
}
.form__title--city::before {
  background-image: url("../img/form-icons/city.svg");
}
.form__title--email::before {
  background-image: url("../img/form-icons/email.svg");
}
.form__title--phone::before {
  background-image: url("../img/form-icons/phone.svg");
}
.modal-body {
  padding: 36px;
}
.modal-content {
  border: none;
}
.modal-header {
  padding-top: 36px;
  border-bottom: none;
}
.modal-header h5 {
  font-size: 24px;
  margin: 0 auto;
}
.about-company span {
  color: #5e79ec;
}
.about-company ul {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.about-company__item {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.about-company__item h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.about-company__item p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
}
.about-company__item .pic-container {
  border-radius: 10px;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  padding: 10px;
}
.about-company__item span {
  display: block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about-company__item--happy .pic-container {
  background-color: #fff0f0;
}
.about-company__item--happy span {
  background-image: url("../img/about-company/happy-users.svg");
}
.about-company__item--projects .pic-container {
  background-color: #fffbe6;
}
.about-company__item--projects span {
  background-image: url("../img/about-company/projects.svg");
}
.about-company__item--team .pic-container {
  background-color: #edecff;
}
.about-company__item--team span {
  background-image: url("../img/about-company/team.svg");
}
.about-company__item--satisfaction .pic-container {
  background-color: #e6fafb;
}
.about-company__item--satisfaction span {
  background-image: url("../img/about-company/satisfaction.svg");
}
.gallery {
  padding-top: 0;
  padding-bottom: 80px;
}
.experience h2 {
  margin-bottom: 20px;
}
.experience__sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid #e4e5e7;
}
.experience__sections .experience__section {
  padding-bottom: 15px;
  cursor: pointer;
}
.experience__sections .experience__section:not(:last-child) {
  margin-right: 20px;
}
.experience__sections .experience__section--active {
  color: #5e79ec;
  border-bottom: 5px solid #5e79ec;
}
.experience__sections .experience__section:hover {
  color: #5e79ec;
}
.experience__sections p {
  display: block;
  margin-bottom: 0;
}
.expirience__cards {
  padding: 40px 0;
}
.expirience__cards .experience__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-bottom: 20px;
}
.expirience__cards .experience__list--not-active {
  display: none;
}
.expirience__cards .experience__list li {
  border-radius: 20px;
  background-color: #f6f8fe;
  padding: 25px;
}
.expirience__cards .experience__list span {
  color: #5e79ec;
}
.expirience__cards .experience__list h3 {
  color: #000000;
  margin: 10px 0 20px;
}
.expirience__cards .experience__list .expirience__card-type span {
  padding: 10px;
  background-color: #fff0f0;
  color: #000000;
}
.price {
  background-color: #f6f8fe;
}
.price p {
  margin: 0;
  color: #888ca0;
}
.price ul {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price li {
  position: relative;
  padding: 20px 60px 20px 20px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(143, 154, 210, 0.16);
}
.price li h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.price li .price-value {
  font-size: 30px;
  font-weight: bold;
  margin-right: 5px;
}
.price li .rouble {
  font-size: 22px;
  font-weight: bold;
}
.price li p {
  margin-top: 10px;
}
.price li::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30%;
  right: 10%;
  background-image: url("../img/price-image.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.price-slider {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(183, 195, 247, 0.3);
  border-radius: 16px;
}
.price-slider label {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.price-slider label .period {
  padding: 8px;
  width: 100%;
  text-align: center;
  line-height: 32px;
  font-size: 1.2rem;
  color: #ffffff;
}
.price-slider label input {
  transition: all 0.6s ease-in-out;
}
.price-slider label .profitable {
  display: none;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 4px 8px;
  background: linear-gradient(119.24deg, #496af8 -77.56%, #a880ff 14.27%, #ffb470 107.43%);
  border-radius: 4px;
  color: #ffffff;
}
.price-slider label input:checked + .period {
  border-radius: 16px;
  background-color: #5e79ec;
}
.price-slider label input:checked + .period + .profitable {
  display: block;
}
.functions {
  background-color: #171e3a;
}
.functions h2 {
  color: #ffffff;
}
.functions img {
  max-height: 600px;
  justify-self: center;
}
.functions__item {
  position: relative;
  padding-left: 48px;
  padding-bottom: 32px;
  color: #ffffff;
  cursor: pointer;
}
.functions__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #5e79ec;
}
.functions__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 2px;
  height: 100%;
  background-color: #5e79ec;
}
.functions__item h3 {
  font-size: 24px;
  font-weight: bold;
}
.functions__item p {
  font-size: 18px;
  display: none;
}
.functions__item a {
  font-size: 18px;
  color: #5e79ec;
  display: none;
  transition: all 0.6s ease-in-out;
}
.functions__item a:hover {
  transform: scale(1.05);
}
.functions__item--active::after {
  content: "";
  left: -4px;
  width: 24px;
  height: 24px;
  background: linear-gradient(285.34deg, #a4b5ff 24%, #add4ff 72.53%);
}
.functions__item--active::before {
  content: "";
  left: 10px;
  height: 100%;
  background: linear-gradient(285.34deg, #a4b5ff 24%, #add4ff 72.53%);
}
.functions__item--active p {
  display: block;
}
.functions__item--active a {
  display: block;
}
/*# sourceMappingURL=style.css.map */
